*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi


# Mysql exports #
######################
mysql/*
/wp-mysql

creative/
backup/

wp-config-local.php

wp-content/plugins/debug-bar-action-hooks/*
wp-content/plugins/debug-bar-console/*
wp-content/plugins/debug-bar-extender/*
wp-content/plugins/debug-bar/*
wp-content/plugins/developer/*


config.codekit
config.rb
wp-content/themes/pressotheme-5_5_1_child/.sass-cache/
nbproject/

.htaccess
wp-content/themes/pressotheme-5_5_1_child/prepros.cfg
wp-content/uploadsBAK/
htaccess backup.txt
.idea/
debug.log
wp-content/plugins/rest-api-console/favicon.ico
wp-content/plugins/rest-api-console/LICENSE
wp-content/plugins/rest-api-console/README.md
wp-content/plugins/rest-api-console/readme.txt
wp-content/plugins/rest-api-console/rest-api-console.php
wp-content/plugins/rest-api-console/build/app.min.js
wp-content/plugins/rest-api-console/build/page.min.css
wp-content/plugins/rest-api-console/build/page.min.css.map
wp-content/plugins/rest-api-console/build/search.min.js
wp-content/plugins/rest-api-console/build/style.min.css
wp-content/plugins/rest-api-console/build/style.min.css.map
wp-content/plugins/rest-api-console/lib/app.js
wp-content/plugins/rest-api-console/lib/readme.txt
wp-content/plugins/rest-api-console/lib/search.js
wp-content/plugins/rest-api-console/lib/auth/index.js
wp-content/plugins/rest-api-console/lib/auth/nonce.js
wp-content/plugins/rest-api-console/lib/path/index.js
wp-content/plugins/rest-api-console/lib/path/part.js
wp-content/plugins/rest-api-console/lib/path/part_builder.js
wp-content/plugins/rest-api-console/lib/ui/auth_panel.js
wp-content/plugins/rest-api-console/lib/ui/component.js
wp-content/plugins/rest-api-console/lib/ui/dev.js
wp-content/plugins/rest-api-console/lib/ui/index.js
wp-content/plugins/rest-api-console/lib/ui/json_browser.js
wp-content/plugins/rest-api-console/lib/ui/list_component.js
wp-content/plugins/rest-api-console/lib/ui/lookup_pane.js
wp-content/plugins/rest-api-console/lib/ui/option_selector.js
wp-content/plugins/rest-api-console/lib/ui/param_builder.js
wp-content/plugins/rest-api-console/lib/ui/path_field.js
wp-content/plugins/rest-api-console/lib/ui/reference_panel.js
wp-content/plugins/rest-api-console/lib/ui/request_detail.js
wp-content/plugins/rest-api-console/lib/ui/request_header.js
wp-content/plugins/rest-api-console/lib/ui/request_viewer.js
wp-content/plugins/rest-api-console/lib/ui/tip.js
wp-content/plugins/rest-api-console/lib/ui/util.js
wp-content/plugins/rest-api-console/lib/ui/version_selector.js
wp-content/plugins/rest-api-console/res/close-@2x.png
wp-content/plugins/rest-api-console/res/close-dark-@2x.png
wp-content/plugins/rest-api-console/res/close-dark.png
wp-content/plugins/rest-api-console/res/close.png
wp-content/plugins/rest-api-console/res/disclosure-@2x.png
wp-content/plugins/rest-api-console/res/disclosure-dark-@2x.png
wp-content/plugins/rest-api-console/res/disclosure-dark.png
wp-content/plugins/rest-api-console/res/disclosure.png
wp-content/plugins/rest-api-console/res/genericons-regular-webfont.eot
wp-content/plugins/rest-api-console/res/genericons-regular-webfont.svg
wp-content/plugins/rest-api-console/res/genericons-regular-webfont.ttf
wp-content/plugins/rest-api-console/res/genericons-regular-webfont.woff
wp-content/plugins/rest-api-console/res/return-@2x.png
wp-content/plugins/rest-api-console/res/return-dark-@2x.png
wp-content/plugins/rest-api-console/res/return-dark.png
wp-content/plugins/rest-api-console/res/return.png
wp-content/plugins/rest-api-console/res/search-@2x.png
wp-content/plugins/rest-api-console/res/search-dark-@2x.png
wp-content/plugins/rest-api-console/res/search-dark.png
wp-content/plugins/rest-api-console/res/search.png
wp-content/plugins/rest-api-console/templates/sass/_type.scss
wp-content/plugins/rest-api-console/templates/sass/page.scss
wp-content/plugins/rest-api-console/templates/sass/style.scss
wp-content/plugins/rest-api-console/templates/views/app.php
